<a href="https://colab.research.google.com/github/Zander-iac/bte320/blob/main/Inclassassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Sales = float(input("Enter Sales ($):"))
COGS=.40*Sales
Gross_Profit = Sales - COGS

print(f"Sales: ${f"{Sales:,.2f}")
print(f"Cost of Goods Sold: ${COGS}")
print(f"Gross Profit: ${Gross_Profit}")

Enter Sales ($):1000
Sales: $1000.0
Cost of Goods Sold: $400.0
Gross Profit: $600.0

In [ ]:
Tax_Rate= float(input("Enter tax Rate (%):"))
Taxes= Gross_Profit*Tax_Rate
Net_Income= Gross_Profit-Taxes

print(f"Sales ($) {Sales}")

Enter tax Rate (%):5
Sales ($) 1000.0



# In class assignment 2

In [1]:
num1 = input("Enter a number:")
num1 = float(num1)
num2 = input("Enter a second number:")
num2 = float(num2)

funct1=input("Enter a function:")

if funct1 == "+":
  print(num1 + num2)
elif funct1 =="-":
  print(num1-num2)
elif funct1== "*":
  print(num1*num2)
elif funct1== "/":
  print(num1/num2)
elif funct1== "**":
  print(num1**num2)
elif funct1== "%":
  print(num1%num2)
elif funct1== "//":
  print(num1//num2)
else:
  print("Invalid Operation")

Enter a number:10
Enter a second number:2
Enter a function:**
100.0