<a href="https://colab.research.google.com/github/Zander-iac/bte320/blob/main/Inclassassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Sales = float(input("Enter Sales ($):"))
COGS=.40*Sales
Gross_Profit = Sales - COGS

print(f"Sales: ${f"{Sales:,.2f}")
print(f"Cost of Goods Sold: ${COGS}")
print(f"Gross Profit: ${Gross_Profit}")

Enter Sales ($):1000
Sales: $1000.0
Cost of Goods Sold: $400.0
Gross Profit: $600.0

In [ ]:
Tax_Rate= float(input("Enter tax Rate (%):"))
Taxes= Gross_Profit*Tax_Rate
Net_Income= Gross_Profit-Taxes

print(f"Sales ($) {Sales}")

Enter tax Rate (%):5
Sales ($) 1000.0

In [ ]:
Sales = float(input("Enter Sales ($):"))
Tax_Rate= float(input("Enter tax Rate (%):"))

COGS=.40*Sales

Gross_Profit = Sales - COGS
Taxes = Gross_Profit*Tax_Rate/100
Net_Income= Gross_Profit-Taxes


print(f"Sales: {Sales}$")
print(f"Cost of Goods Sold: ${COGS}")
print(f"Gross Profit: ${Gross_Profit}")
print(f"Taxes: ${Taxes}")
print(f"Net Income: ${Net_Income}")

Enter Sales ($):1000
Enter tax Rate (%):10
Sales: 1000.0$
Cost of Goods Sold: $400.0
Gross Profit: $600.0
Taxes: $60.0
Net Income: $540.0



# In class assignment 2

In [ ]:
num1 = input("Enter a number:")
num1 = float(num1)
num2 = input("Enter a second number:")
num2 = float(num2)

funct1=input("Enter a function:")

if funct1 == "+":
  print(num1 + num2)
elif funct1 =="-":
  print(num1-num2)
elif funct1== "*":
  print(num1*num2)
elif funct1== "/":
  print(num1/num2)
elif funct1== "**":
  print(num1**num2)
elif funct1== "%":
  print(num1%num2)
elif funct1== "//":
  print(num1//num2)
else:
  print("Invalid Operation")

Enter a number:10
Enter a second number:2
Enter a function:**
100.0

# In class 3

In [24]:
base_c=5
extra = 2.50
for h in range(1,9):
  print(f"{h} {h*extra+base}")
form = h*extra+base
if h<2:
  print(f"10")

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [50]:
print("Hour\tFee")
for hour in range(1,9):
  fee = 5+2.5*hour
  if fee<10:
    fee =10.0
  elif fee > 20:
    fee = 20.0
  print(f"{hour}\t{fee}")

Hour	Fee
1	10.0
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20.0
8	20.0

# In class 4

In [16]:
batt=20
ticket = 10
fixedc=200




for spending in range(0,225,25):
  adate = 2*round((spending**(1/2)))
  totalat = adate + batt
  profit = (ticket* totalat)- fixedc
  print(f"{spending} {(2*spending)**(1/2)+fixedc}")

0 200.0
25 207.07106781186548
50 210.0
75 212.2474487139159
100 214.14213562373095
125 215.81138830084188
150 217.32050807568876
175 218.70828693386972
200 220.0

In [24]:

ticketPrice= 10
initattendees = 20
print("ad$\tProfit$")
for ad in range(0,201,25):
  revenue = (initattendees + 2* round (ad**.5)) * ticketPrice
  costs = 200+ ad
  profit = revenue - costs
  print(f"{float (ad)}\t{float (profit)}")

ad$	Profit$
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0

In [4]:
import math
ticketPrice= 10
initattendees = 20
print("ad$\tProfit$")
for ad in range(0,201,25):
  revenue = (initattendees + 2 * round (math.sqrt(ad))) * ticketPrice
  costs = 200+ ad
  profit = revenue - costs
  print(f"{float (ad)}\t{float (profit)}")

ad$	Profit$
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0

# In class 5

In [16]:
print("Hour\tFee")
hour = 1
while hour <=8:
  fee = 5+2.5*hour
  if fee<10:
    fee =10.0
  elif fee > 20:
    fee = 20.0
  print(f"{hour}\t{fee}")
  hour +=1

Hour	Fee
1	10.0
2	10.0
3	12.5
4	15.0
5	17.5
6	20.0
7	20.0
8	20.0

In [17]:
import math
ad = 0
ticketPrice= 10
initattendees = 20
print("ad$\tProfit$")
while ad <=200:
  revenue = (initattendees + 2 * round (math.sqrt(ad))) * ticketPrice
  costs = 200+ ad
  profit = revenue - costs
  print(f"{float (ad)}\t{float (profit)}")
  ad +=25

ad$	Profit$
0.0	0.0
25.0	75.0
50.0	90.0
75.0	105.0
100.0	100.0
125.0	95.0
150.0	90.0
175.0	85.0
200.0	80.0